body { 
/*  background:url(food.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: 'Robot', sans-serif;

}

.title {
    background:rgba(255,255,255,0.5);
    border-radius: 10px;

    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;

    top: 30%;
    transform: translateY(-100px);

    position:fixed;
    left: 50%;
    margin-left: -30%;
}

.dbBackground {
    background:rgba(255,255,255,0.5);
    border-radius: 10px;
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    top: 30%;
    
}

.logging {
    position:absolute;
    right:5;
    top:20;
    z-index: 1;

    text-align: center;
}

.button-link {
    padding: 10px 15px;
    margin: 5px;
    background:rgba(255,255,255,0.5);
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #fff;

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-decoration: none;
}

.button-link:hover {
    background:rgba(255,255,255,0.3);
    border: solid 1px #fff;
    text-decoration: none;
}
.button-link:active {
    background:rgba(255,255,255,0.3);
    border: solid 1px #fff;
}

/* TABLE */

table.data {
    border-collapse: collapse;
    width: 80%;
    min-width: 300px;
    margin: auto;
}

.data th, td {
    text-align: left;
    padding: 8px;
}

.data tr {
  background: rgba(19, 35, 47, 0.9);
  color: #fff;
}

.data tr:nth-child(even) {
  background: #424e58;
  color: #a0b3b0;
}

.data th {
  background: #1ab188;
  color: #ffffff;
}
