
{% extends "layout.html" %}
{% block content %}
<!-- -*- coding: utf-8 -*- -->
<!-- encoding=utf8  -->
  <div class="title">
      {%if userState %}
      <h1>Welcome Back!</h1>
      {% else %}
      <h1>Join Today! </h1>
      {% endif %}

      {%if ordered %}
      <h3>Thank you for donating food!</h3>
      {% endif %}

      {%if quote %}
      <h3>{{ quote }}</h3>
      {% endif %}

      {%if connectLyft %}

      <a href="{{ url_for('connectlyftpage') }}" class="fixme">Connect To Lyft</a>
      <!-- <a href="{{ url_for('connectlyftpage') }}" class="button-link">Connect To Lyft</a> -->
      <!-- insert button -->
      {% endif %}



  </div>
{% endblock %}