<!-- this is the layout page -->
<html>
<head>
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css/') }}"> 

<title>Food For Thought</title>

	<div class="logging">
		<!-- hide links based on user status -->
		{%if userState %}

		<a href="{{ url_for('logout') }}" class="button-link">Logout</a>

			{% if table == 'Restaurants' %}

			<a href="{{ url_for('order') }}" class="button-link">Give Food</a>

			{% elif table == 'FoodPantries' %}

			<a href="{{ url_for('receive') }}" class="button-link">Receive Food</a>

			{% endif %}

		{% else %}

		<a href="{{ url_for('signuppage') }}" class="button-link">Sign Up</a>
		<a href="{{ url_for('loginpage') }}" class="button-link">Login</a>

		{% endif %}
	</div>
</head>
<body>
<body style="background:url({{'static/img/food.jpg'}}) no-repeat center center fixed;">

<!-- Uses a transparent header that draws on top of the layout's background -->
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Food For Thought</span>
    <nav class="mdl-navigation">
    	<a href="{{ url_for('index') }}" class="mdl-navigation__link">Home</a>
		<a href="{{ url_for('aboutpage') }}" class="mdl-navigation__link">About</a>
		<a href="{{ url_for('database') }}" class="mdl-navigation__link">Database</a>
      <a class="mdl-navigation__link" href="#">Hello</a>
      <a class="mdl-navigation__link" href="#">Welcome</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
  </main>
</div>

{% block content%}
{% endblock %}

</body>
</html>