<!-- this is the layout page -->
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css/') }}"> 

<title>Food For Thought</title>

	<a href="{{ url_for('aboutpage') }}">About</a>
	<a href="{{ url_for('database') }}">Database</a>

	<div class="logging">
		<!-- hide links based on user status -->
		{%if userState %}

		<a href="{{ url_for('signuppage') }}" class="button-link">Sign Up</a>
		<a href="{{ url_for('loginpage') }}" class="button-link">Login</a>

		{% else %}

		<a href="{{ url_for('logout') }}" class="button-link">Logout</a>
		<a href="{{ url_for('orderpage') }}" class="button-link">Give Food</a>
		{% endif %}
	</div>
</head>
<body>
<body style="background:url({{'img/food.jpg'}}) no-repeat center center fixed;">

{% block content%}
{% endblock %}

</body>
</html>