<h1>Sign Up for Free</h1>
    
    <form action="/signup" method="post">
    
    <div class="top-row">
      <div class="field-wrap">
        <input type="text" name="group_name" required autocomplete="off" placeholder="Organization"/>
      </div>
  
      <div class="field-wrap">
        <!--<label>
          Last Name<span class="req">*</span>
        </label>-->
        <input type="text" name="person_name" required autocomplete="off" placeholder="Full Name"/>
      </div>
    </div>

    <div class="field-wrap">
      <input type="email" name="email" required autocomplete="off" placeholder="Email Address"/>
    </div>
    
    <div class="field-wrap">
      <input type="password" name ="pword" required autocomplete="off" placeholder="Set A Password"/>
    </div>
    
    <!-- can we have two submit buttons? -->
    <button type="submit" class="button button-block" name="action" value="res"/>Restaurant</button>
    <button type="submit" class="button button-block" name="action" value="foo"/>Food Pantry</button>
    
    </form>